@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --l-purple: #2d2862;
  --purple: #272559;
  --orange: #fe6d46;
  --yellow: #fde047;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.font-roboto {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  transition: 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-color: var(--l-purple);
}

.active-link {
  border-bottom: 2px solid var(--orange);
}
.buttonBorder {
  border: 2px solid var(--orange);
}

/* Swiper */

.swiper {
  width: 100%;
  height: 90svh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 50vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after,
.nav-link.active:after {
  width: 100%;
  left: 0;
  background: var(--orange);
}

.slider-button:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s;
}

.sign-in-parent {
  display: flex;
  text-align: center;
}
.sign-image:hover {
  transition-duration: 300ms;
  transform: translateY(-15px);
  box-shadow: 0px 2px 30px #000000;
}

.errorpage-oops {
  color: var(--purple);
}
.errorpage-404 {
  margin-top: -25px;
  color: var(--purple);
}
.errorpage-text {
  color: black;
}
.errorpage-link {
  color: var(--l-purple);
}
/* header */
.spin-on-hover:hover {
  transform: rotateZ(360deg);
  transition-duration: 800ms;
}
.logo {
  font-size: 20px;
}
.nav-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
.users-name {
  font-size: 20px;
}

.Toastify__toast-container--top-right {
  top: 80px !important;
}

.main-text {
  color: var(--purple);
}
.li-item {
  margin-left: -20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.li-item::before {
  content: "";
  padding: 2px;
  left: 0;
  top: 0;
  height: 10px;
  width: 50%;
  border-left: #fe6e46 5px solid;
}
.info-list li::before {
  content: "✅ "; /* Adds the checkmark symbol */
}

.course-info-link:hover {
  color: #fe6d46;
  transition-duration: 200ms;
}
.drivebtnparent {
  display: flex;
  flex-direction: column;
}
.drivebtn {
  text-align: center;
}
.drivebtn:hover {
  color: white;
  text-shadow: 0px 1px 1px #000000;
}
.roadSignsButtonImage {
  background: url(https://tinyurl.com/5fvx87ck) no-repeat -50px 0px,
    url(https://tinyurl.com/498r9nft) no-repeat -50px 0px,
    url(https://tinyurl.com/yru7fm4c) no-repeat 1000px 0px,
    url(https://tinyurl.com/5fvx87ck) no-repeat 1000px 0px;
  color: black;
}

.roadSignsButtonImage:hover {
  background: url(https://tinyurl.com/mrybry2h) no-repeat 0% 0px,
    url(https://tinyurl.com/498r9nft) no-repeat 20% 0px,
    url(https://tinyurl.com/yru7fm4c) no-repeat 80% 0px,
    url(https://tinyurl.com/5fvx87ck) no-repeat 100% 0px;
}

@media (max-width: 1170px) {
  .nav-link {
    font-size: 18px;
  }
  .logo {
    font-size: 18px;
  }
  .sign-out {
    font-size: 18px;
  }
  .users-name {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .nav-link {
    font-size: 16px;
  }
  .logo {
    font-size: 16px;
  }
  .sign-out {
    font-size: 16px;
  }
  .users-name {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .bigparent {
    width: 51%;
  }
  .logo {
    font-size: 17px;
    position: relative;
  }
  .nav-link {
    font-size: 18px;
  }
  .nav-btn {
    margin-top: 100px;
  }
  .main-text {
    font-size: 30px;
  }
  .li-item {
    font-size: 16px;
  }
  .main-desc {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .bigparent {
    width: 55%;
    height: 23px;
  }
  .sign-in-parent {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    flex-direction: column-reverse;
  }
  .logo {
    top: 1rem;
    margin-left: 1rem;
    position: fixed;
  }
  .nav-btn {
    margin-top: 135px;
  }
  .exam-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .swiper {
    height: 80svh;
  }
}

/* 
@media (max-width: 670px){
  .sign-in-parent{
    position: absolute;
    grid: auto/auto auto auto;
    grid-gap: 10px;
    right: 0;
    top: 0;
    text-align: center;
  }
  .nav-btn{
    margin-top: 0px;
  }
  .ctrlbtn{
    font-size: 17px;
  }
  .sign-out{
    margin-right: 1rem;
  }
  .logo{
    margin-left: 1rem;
  }
} 
@media (min-width: 530px) and (max-width: 590px){
  .sign-in-parent{
    position: absolute;
    grid: auto/auto auto auto;
    grid-gap: 10px;
    right: 0;
    top: 0;
    text-align: center;
  }
  .nav-btn{
    margin-top: 0px;
  }
  .ctrlbtn{
    font-size: 15px;
  }
  .sign-out{
    margin-right: 1rem;
  }
  .logo{
    margin-left: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 530px){
  .sign-in-parent{
    position: absolute;
    grid: auto/auto auto auto;
    grid-gap: 10px;
    right: 0;
    top: 0;
    text-align: center;
  }
  .nav-btn{
    margin-top: 0px;
  }
  .ctrlbtn{
    font-size: 15px;
  }
  .sign-out{
    margin-right: 1rem;
  }
  .logo{
    margin-left: 1rem;
  }
}
@media (min-width: 400px) and (max-width: 480px){
  .sign-in-parent{
    position: absolute;
    grid: auto/auto auto auto;
    grid-gap: 10px;
    right: 0;
    top: 0;
    text-align: center;
  }
  .nav-btn{
    margin-top: 0px;
  }
  .ctrlbtn{
    font-size: 14px;
  }
  .sign-out{
    margin-right: 1rem;
  }
  .logo{
    margin-left: 1rem;
  }
}
@media (min-width: 350px) and (max-width: 400px){
  .sign-in-parent{
    position: absolute;
    grid: auto/auto;
    grid-gap: 10px;
    right: 0;
    top: 0;
    text-align: center;
  }
  .nav-btn{
    margin-top: 20px;
  }
  .ctrlbtn{
    font-size: 14px;
  }
  .sign-out{
    margin-right: 1rem;
  }
  .logo{
    margin-left: 1rem;
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 350px){
  .sign-in-parent{
    position: absolute;
    grid: auto/auto;
    grid-gap: 10px;
    right: 0;
    top: 0;
    text-align: center;
  }
  .nav-btn{
    margin-top: 20px;
  }
  .ctrlbtn{
    font-size: 12px;
  }
  .sign-out{
    margin-right: 1rem;
  }
  .logo{
    margin-left: 1rem;
    font-size: 20px;
  }
} */
