<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{HTTP_HOST} ^(www\.)?brainhouse\.ge$ [NC]
  RewriteCond %{REQUEST_URI} !^/newdirectory/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /newdirectory/index.html [L]
</IfModule>